################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/RuntApi/bin
/RuntApi/obj/Debug
/RuntApi.Com/bin/Debug
/RuntApi.Com/obj/Debug
/.vs
